body {
  background-image: url("background.jpg");
}
body.accom {
  background-image: url("empty.jpg");
}
body.workbody {
  background-image: url("rice.jpg");
}
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: antiquewhite;
}
.navlinks{
  display: flex;
  justify-content: space-around;
  width:60%;
}
.navlinks li{
  list-style: none;
}
.navlinks a{
  font-weight: bold;
  font-size: 14px;
}
ul {
  list-style-type: circle;
  font-size: 20px;
}

p {
  font-family: Verdana, Times, serif;
}
div.header {
  text-align: center;
  background: black;
  color: white;
}

h2.work-experience-header {
  text-align: center;
}
h3.Hello {
  text-align: center;
  font-size: 21px;
}
img.image1 {
  width: 100%;
  height: 40%;
  object-position: center;
  
}
img.accimg{
  object-position: center;
  object-fit: fill;
  padding: 50px;
  
}

div.experience {
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;
}

div.About-me {
  width: 60%;
  margin: 0 auto;
}
div.Introduction {
  background-image: url("background2.jpg");
  background-size: cover;
  column-count: 2;
}

div.intro-paragraph-div {
  padding-top: 30px;
  padding-left: 40px;
}

h3.jobs-header {
  font-size: 21px;
  text-align: left;
  text-decoration: underline;
  text-indent: 50px;
  text-transform: capitalize;
  color: green;
}

p.job-description {
  text-align: left;
  font-size: 15px;
}
div.hobbies{
  display: flex;
}
div.hobbiestxt{
  background-image: url("conf.jpg");
}
div.hobbiestxt2{
background-image: url("background.jpg");
border-left-width: 20px;
width: 80%;
height: 100%;
}
div.hobbiestxt2 p{
  font-size: large;
}
div.work{
  display: flex;
}
div.work div{
  background-color: white;
}